.boardCell:hover{
    cursor: pointer;
}

.cross {
    position: relative;
    opacity: 0.9;
 }
 
 .cross:before, .cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: black;
 }
 
 .cross:before {
   left: 50%;
   width: 3%;
   margin-left: -2%;
   height: 100%;
 }
 
 .cross:after {
   top: 50%;
   height: 3%;
   margin-top: -2%;
   width: 100%;
 }

 .topLeftCorner {
  position: relative;
  opacity: 0.9;
}

.topLeftCorner:before, .topLeftCorner:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.topLeftCorner:before {
 left: 50%;
 width: 3%;
 margin-left: -2%;
 margin-top: 50%;
 height: 50%;
}

.topLeftCorner:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 margin-left: 50%;
 width: 50%;
}

.topRow {
  position: relative;
  opacity: 0.9;
}

.topRow:before, .topRow:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.topRow:before {
 left: 50%;
 width: 3%;
 margin-left: -2%;
 margin-top: 50%;
 height: 50%;
}

.topRow:after {
  top: 50%;
  height: 3%;
  margin-top: -2%;
  width: 100%;
}

.bottomRow {
  position: relative;
  opacity: 0.9;
}

.bottomRow:before, .bottomRow:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.bottomRow:before {
 left: 50%;
 width: 3%;
 margin-left: -2%;
 height: 50%;
}

.bottomRow:after {
  top: 50%;
  height: 3%;
  margin-top: -2%;
  width: 100%;
}

.topRightCorner {
  position: relative;
  opacity: 0.9;
}

.topRightCorner:before, .topRightCorner:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.topRightCorner:before {
  left: 50%;
  width: 3%;
  margin-left: -2%;
  margin-top: 50%;
  height: 50%;
}

.topRightCorner:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 width: 50%;
}

.bottomLeftCorner {
  position: relative;
  opacity: 0.9;
}

.bottomLeftCorner:before, .bottomLeftCorner:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.bottomLeftCorner:before {
  left: 50%;
  width: 3%;
  margin-left: -2%;
  height: 50%;
}

.bottomLeftCorner:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 margin-left: 50%;
 width: 50%;
}

.bottomRightCorner {
  position: relative;
  opacity: 0.9;
}

.bottomRightCorner:before, .bottomRightCorner:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.bottomRightCorner:before {
  left: 50%;
  width: 3%;
  margin-left: -2%;
  height: 50%;
}

.bottomRightCorner:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 width: 50%;
}

.firstColumn {
  position: relative;
  opacity: 0.9;
}

.firstColumn:before, .firstColumn:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.firstColumn:before {
  left: 50%;
  width: 3%;
  margin-left: -2%;
  height: 100%;
}

.firstColumn:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 margin-left: 50%;
 width: 50%;
}

.lastColumn {
  position: relative;
  opacity: 0.9;
}

.lastColumn:before, .lastColumn:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: black;
}

.lastColumn:before {
  left: 50%;
  width: 3%;
  margin-left: -2%;
  height: 100%;
}

.lastColumn:after {
 top: 50%;
 height: 3%;
 margin-top: -2%;
 width: 50%;
}